<div class="header" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="55%" class="header-height">
        <div class="menu-media-burger">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li>
                        <a class="menu__item" href="#">HOME</a>
                    </li>
                    <li>
                        <a class="menu__item" href="#">BLOG</a>
                    </li>
                    <li>
                        <a class="menu__item">+APPLICATIONS</a>
                    </li>
                    <li>
                        <a class="menu__item hide" routerLink="/academic">ACADEMIC</a>
                    </li>
                    <li>
                        <a class="menu__item hide" routerLink="/enterprise">ENTERPRISE</a>
                    </li>
                    <li>
                        <a class="menu__item hide focus-a" routerLink="/healthcare">HEALTHCARE</a>
                    </li>
                    <li>
                        <a class="menu__item" routerLink="/research">RESEARCH</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo" fxFlex="30%">
            <img src="../../assets/images/logologo.webp" alt="">
        </div>
        <div class="menu" fxFlex="70%" fxLayout="row" fxFlexFill fxLayoutAlign="space-around center">
            <a href="" fxFlex="25%">
                <span>
                    <b i18n>HOME</b>
                </span>
            </a>
            <a href="" fxFlex="25%">
                <span>
                    <b i18n>BLOG</b>
                </span>
            </a>
            <a fxFlex="25%" fxLayout="column" class="span-app focus">
                <span>
                    <b i18n>APPLICATIONS</b>
                </span>
                <div fxLayout="column" class="drop-down">
                    <p routerLink="/academic">
                        <b i18n>ACADEMIC</b>
                    </p>
                    <p routerLink="/enterprise">
                        <b i18n>ENTERPRISE</b>
                    </p>
                    <p routerLink="/healthcare">
                        <b i18n>HEALTHCARE</b>
                    </p>
                </div>
            </a>
            <a routerLink="/research" fxFlex="25%">
                <span>
                    <b i18n>RESEARCH</b>
                </span>
            </a>
        </div>
    </div>
</div>

<div class="background" fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div class="title" fxLayoutAlign="center center">
        <p>
            <b>HEALTHCARE</b>
        </p>
    </div>
    <div class="title-about" fxLayoutAlign="center center" fxLayout="column">
        <p class="title-first">
            <b>How else would you ensure patients are improving when they are not in the clinic?
            </b>
        </p>
        <hr class="title-hr">
        <p class="title-second regular">
            Improve the quality of care and pain management by helping patients report and communicate progress
        </p>
    </div>
    <div class="font1" fxLayoutAlign="center center" fxLayout="column">
        <div class="font-color" fxLayoutAlign="center center" fxLayout="column">
            <h1>
                <b>COMMUNICATE SIMPLY</b>
            </h1>
            <p>
                <b>It only takes 30 seconds.</b>
            </p>
            <span class="regular">Simple drawings about the quality, intensity, and location of pain or discomfort are guided by our scientifically
                validated body avatars. Receive real-time precision reports showing a detailed expression of a patients'
                pain experience.</span>
        </div>
    </div>
    <div class="font2" fxLayoutAlign="center center" fxLayout="column">
        <div class="font-color" fxLayoutAlign="center center" fxLayout="column">
            <h1>
                <b>DOCUMENT EASILY</b>
            </h1>
            <span class="regular">Pain and discomfort can change dramatically within or across days. Reporting these changes no longer needs to
                be challenging or reliant on a patients' recall.</span>
            <span class="regular">Patients can easily communicate on a daily, weekly, or monthly basis. Stay connected with patients and gain the
                insight needed to provide tailored care.</span>
        </div>
    </div>
    <div class="font3" fxLayoutAlign="center center" fxLayout="column">
        <div class="font-color" fxLayoutAlign="center center" fxLayout="column">
            <h1>
                <b>SAVE TIME</b>
            </h1>
            <span class="regular">Quickly review a patients' history and progress using our visualization timeline. </span>
            <span class="regular">Receive easy to understand metrics describing changes in pain or discomfort status.</span>
            <span class="regular">Show patients their progress and use the tool to motivate and educate. </span>
        </div>
    </div>

    <div class="risk" fxLayout="column" fxLayoutAlign="center center">
        <p class="green regular">
            <b>Connect </b> with patients.</p>
        <p class="green regular">
            <b>Offer </b> tailored treatment and care.</p>
        <p class="green regular">
            <b>Improve </b> patient satisfaction and trust.</p>
    </div>

    <div fxLayout="row" fxFlexFill fxLayoutAlign="center center" class="email media-margin">
        <div fxLayoutAlign="center center" fxFlex="40%" fxLayout="column" class="media-block-email">
            <div class="pricing-email" fxLayoutAlign="center center">
                <p fxFlex="100%">
                    <b>GET IN TOUCH</b>
                </p>
            </div>
            <hr>
            <p class="email-about regular">Tailored solutions and quotes to match the size and needs of your organization.</p>
            <div fxLayoutAlign="space-between center" class="block-bigger">
                <div>
                    <input type="text" i18n-placeholder placeholder="First Name">
                </div>
                <div>
                    <input type="text" i18n-placeholder placeholder="Last Name">
                </div>
                <div>
                    <input type="email" i18n-placeholder placeholder="Email">
                </div>
                <div>
                    <input type="phone" i18n-placeholder placeholder="Phone">
                </div>
                <textarea class="block-textaerea" name="" id="" cols="30" rows="10" i18n-placeholder placeholder="Type your message here"></textarea>
            </div>
            <button class="button-submit">
                <b>Submit</b>
            </button>

        </div>
    </div>

    <div class="site" fxLayout="row" fxFlexFill>
        <div fxLayoutAlign="end center" fxFlex="23%">
            <img src="../../../assets/images/officialsite.webp" alt="">
        </div>
        <div fxFlex="53%" fxLayout="column">
            <p>
                <b>OFFICIAL SITE OF NAVIGATE PAIN</b>
            </p>
            <hr>
            <span class="regular">Copyright (C) Aglance Solutions AALBORG, DENMARK
                <br> Last updated 17-09-2019</span>
        </div>
    </div>

</div>
<div class="logos-back" fxLayout="row" fxFlexFill fxLayoutAlign="center start">
    <div fxLayoutAlign="space-around start" class="logos">
        <a href="https://www.facebook.com/aglancesolutions/" target="_blank">
            <img src="../../assets/images/facebook.png" alt="">
        </a>
        <a href="https://twitter.com/AglanceSolution" target="_blank">
            <img src="../../assets/images/twitter.png" alt="">
        </a>
        <a href="https://www.linkedin.com/company/aglance-solutions" target="_blank">
            <img src="../../assets/images/linkdin.png" alt="">
        </a>
    </div>
</div>