@font-face {
    font-family: raleway;
    src: url(../../../assets/fonts/Raleway-Thin.ttf)
}

@font-face {
    font-family: ralewayBold;
    src: url(../../../assets/fonts/Raleway-SemiBold.ttf)
}

@font-face {
    font-family: ralewayRegular;
    src: url(../../../assets/fonts/Raleway-Regular.ttf)
}

.regular {
    font-family: ralewayRegular !important;
}

p,
span {
    font-family: raleway, sans-serif;
}

b,
textarea {
    font-family: ralewayBold !important;
}

// menu-burger
.menu-media-burger {
    display: none;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 9px;
    left: 9px;
    width: 50px;
    height: 50px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fffffff2;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

// .hide {
//     display: none;
// }

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: raleway, sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid white;
    width: 70%;
    margin: auto;
}

.hide {
    border: none;
}

.focus-a {
    color: rgba(179, 242, 255, 1);
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

//   ---------------

.header {
    background: #012240;
    height: 52px !important;
    min-height: 70px !important;
    position: fixed !important;
}

.header-height {
    height: 52px !important;
}

.menu {
    border-top: 2px solid rgba(179, 242, 255, 1);
    margin-left: 20%;
}

.menu a {
    text-decoration: none;
    color: white;
    line-height: 52px !important;
    text-align: center;
    border-top: none;
}

.span-app:hover {
    .drop-down {
        display: block !important;
    }
}

.drop-down:hover {
    p {
        display: block !important;

    }
}

.menu a:hover {
    color: #0BB6B2;
    border-top: 3px solid rgba(179, 242, 255, 1);
    line-height: 48px;
}

.focus {
    color: #0BB6B2 !important;
    border-top: 3px solid rgba(179, 242, 255, 1) !important;
    line-height: 48px !important;
}

.drop-down {
    display: none !important;
    background: #ffffffe8;
    padding-top: 3px;
    position: absolute;
    top: 50px;
    width: 185px;
}

.drop-down p {
    line-height: 2rem;
    border-top: 1px solid rgba(179, 242, 255, 1);
    color: #0BB6B2;
    text-decoration: none;
}

.drop-down p:hover {
    border-top: 3px solid rgba(179, 242, 255, 1);
    line-height: 1.8rem;
    color: #0BB6B2;
}

.background {
    padding-top: 70px;
    background: #022d5d;
}

.title {
    background-image: url(../../../assets/images/Healthcarepage.webp);
    background-position: top;
    background-size: cover;
    height: 555px;
    width: 53%;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
}

.title img {
    width: 981px;
    height: 555px;
    object-fit: contain;
}

.title p {
    font-size: 48px;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    text-align: center;
}

.title-about {
    width: 53%;
    background-color: white;
}

.title-first {
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #14b6b2;
    text-align: center;
    width: 85%;
    margin: 5% auto 1%;
}

.title-hr {
    border-top: 5px solid #14b6b2;
    width: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.title-second {
    font-size: 23px;
    line-height: 1.6em;
    color: #022c5c;
    text-align: center;
    width: 70%;
    margin: 1% auto 5%;
}

.font1 {
    width: 53%;
    background-image: url(../../../assets/images/second.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.font2 {
    width: 53%;
    background-image: url(../../../assets/images/helth1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.font3 {
    width: 53%;
    background-image: url(../../../assets/images/health2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.font-color {
    width: 100%;
    background-color: #39cfa4eb;
    padding-top: 3%;
    padding-bottom: 4%;
}

.font2 .font-color {
    background-color: #2b3f6af0;
}

.font-color h1 {
    letter-spacing: 0.15em;
    color: white;
    font-size: 48px;
    line-height: 1em;
    text-align: center;
    width: 50%;
    margin-bottom: 3%;
}

.font-color p {
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 1.4em;
    margin-bottom: 3%;
    margin-top: 1%;
}

.font-color span {
    color: white;
    text-align: center;
    font-size: 22px;
    line-height: 1.4em;
    width: 70%;
    margin-bottom: 3%;
}

.risk {
    background: white;
    width: 53%;
    padding-bottom: 2%;
}

.green {
    color: #002D56;
    font-size: 32px;
    margin-top: 4%;
    margin-bottom: 0;
}

.green b {
    color: #0BB6B2;
}

.pricing-email p {
    letter-spacing: 0.15em;
    font-size: 46px;
    color: white;
    text-align: center;
    margin: 13% auto 3%;
    font-family: Helvetica, sans-serif
}

.email {
    background: #002E57;
    padding-top: 3%;
    padding-bottom: 1%;
}

.email hr {
    width: 10%;
    border-bottom: 5px solid white;
}

.email-about {
    letter-spacing: 0.08em;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 5%;
    width: 85%;
}

.title-email {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 46px;
    line-height: 0.3rem;
    font-family: ralewayBold !important;
}


.email input {
    padding-left: 24px;
    width: 87%;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-bottom: 3%;
    font-style: italic;
}

.email input::placeholder {
    color: #02305b;
}

.email textarea::placeholder {
    color: #02305b;
}

.email input:hover {
    width: 89%;
    height: 57px;
    margin-bottom: 1%;
}

.email textarea {
    padding-left: 24px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-bottom: 20px;
    font-style: italic;
}

.email textarea:hover {
    height: 120px;
    margin-bottom: 15px;
    width: 94%;
}

.block-bigger {
    justify-content: space-evenly !important;
    width: 80% !important;
    flex-wrap: wrap;
}

.block-bigger div {
    width: 49%;
}

.block-bigger div:hover {
    width: 50%;
}

.block-textaerea {
    padding-top: 15px;
    width: 92%;
    height: 115px;
    margin-left: -2%;
}

.button-submit {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 145px;
    font-size: 18px;
    color: white;
    margin-bottom: 10%;
    transition: 0.4s;
}

.button-submit:hover {
    background: #333;
}

.site {
    background: #012240;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
}

.site p {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 28px;
    text-align: center;
    margin: 1% auto;
}

.site hr {
    border-bottom: 3px solid white;
    width: 5%;
    margin-bottom: 3%;
}

.site span {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 1.6em;
    text-align: center;
}

.logos-back {
    background: #012240;
}

.logos {
    margin-top: 1%;
    margin-bottom: 7%;
    width: 184px;
}

.logos img {
    width: 48px;
    height: 48px;
}

@media(max-width:1440px) {
    .header-height {
        max-width: 80% !important;
    }

    .title,
    .title-about,
    .font1,
    .font2,
    .font3,
    .risk {
        width: 77%;
    }

    .media-block-email {
        max-width: 55% !important;
    }

    .menu {
        margin-left: 15%;
    }
}

@media(max-width:1024px) {
    .menu {
        display: none !important;
    }

    .menu-media-burger {
        display: block !important;
    }

    .logo {
        max-width: 265px !important;
        margin: auto;
    }

    .header-height {
        max-width: 90% !important;
    }

    .font-color h1 {
        width: 85%;
    }

    .block-textaerea {
        width: 91%;
        margin-left: -3%;
    }

    .media-block-email {
        max-width: 90% !important;
    }
}

@media(max-width:768px) {
    .title p {
        font-size: 35px;
    }

    .logo {
        max-width: 265px !important;
        margin: auto;
    }

    .title {
        height: 400px;
    }

    .font-color h1 {
        font-size: 30px;
    }

    .green {
        font-size: 18px;
        text-align: center;
    }

    .block-bigger,
    .site {
        flex-wrap: wrap;
    }

    .block-bigger div {
        width: 100%;
    }

    .site div {
        max-width: 100% !important;
        margin-bottom: 3%;
    }

    .site img {
        margin: auto;
    }

    .site p {
        font-size: 20px;
    }

    .media-block-email {
        flex-wrap: wrap;
    }

    .media-block-email div {
        width: 100%;
    }

    .block-textaerea {
        width: 86%;
        margin-left: -8%;
    }
}

@media(max-width: 425px) {

    .title p {
        font-size: 26px;
    }

    .title-first,
    .font-color h1 {
        font-size: 25px;
    }

    .title-second,
    .font-color span,
    .email-about {
        font-size: 18px;
    }

    .block-bigger {
        width: 100% !important;
    }
}