<div class="header" fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="53%" class="header-height">
        <div class="menu-media-burger">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>
                <ul class="menu__box">
                    <li>
                        <a class="menu__item" href="">HOME</a>
                    </li>
                    <li>
                        <a class="menu__item">BLOG</a>
                    </li>
                    <li>
                        <a class="menu__item">+APPLICATIONS</a>
                    </li>
                    <li>
                        <a class="menu__item hide" routerLink="/academic">ACADEMIC</a>
                    </li>
                    <li>
                        <a class="menu__item hide" routerLink="/enterprise">ENTERPRISE</a>
                    </li>
                    <li>
                        <a class="menu__item hide" routerLink="/healthcare">HEALTHCARE</a>
                    </li>
                    <li>
                        <a class="menu__item  focus-a" routerLink="/research">RESEARCH</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="logo" fxFlex="30%">
            <img src="../../assets/images/logologo.webp" alt="">
        </div>
        <div class="menu" fxFlex="70%" fxLayout="row" fxFlexFill fxLayoutAlign="space-around center">
            <a href="" fxFlex="25%">
                <span>
                    <b i18n>HOME</b>
                </span>
            </a>
            <a routerLink="blog" fxFlex="25%">
                <span>
                    <b i18n>BLOG</b>
                </span>
            </a>
            <a fxFlex="25%" fxLayout="column" class="span-app">
                <span>
                    <b i18n>APPLICATIONS</b>
                </span>
                <div fxLayout="column" class="drop-down">
                    <p routerLink="/academic">
                        <b i18n>ACADEMIC</b>
                    </p>
                    <p routerLink="/enterprise">
                        <b i18n>ENTERPRISE</b>
                    </p>
                    <p routerLink="/healthcare">
                        <b i18n>HEALTHCARE</b>
                    </p>
                </div>
            </a>
            <a routerLink="/research" class="focus" fxFlex="25%">
                <span>
                    <b i18n>RESEARCH</b>
                </span>
            </a>
        </div>
    </div>
</div>
<div fxLayout="row" fxFlexFill fxLayoutAlign="center center">
    <div class="header-font-first" fxLayout="row" fxLayoutAlign="center center">
        <div class="header-font-second" fxLayout="column" fxLayoutAlign="center center">
            <span>
                <b>SCIENTIFIC PUBLICATIONS AND RESEARCH</b>
            </span>
            <hr>
            <p class="regular">The Navigate Pain software originated in the laboratory as a tool to better understand pain and discomfort. Today,
                Navigate Pain is being used in a range of scientific research projects. </p>
            <p class="regular">We support research addressing where-related questions about pain and discomfort.
            </p>
            <p class="regular">
                <b>Contact us</b> to learn more</p>
        </div>
    </div>
</div>

<div class="main" fxLayout="row" fxFlexFill fxLayoutAlign="space-evenly start">
    <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
        <p class="title-first green">
            <b>SUPPORTED PROJECTS</b>
        </p>
        <p class="title-second blue">
            <b>Financially supported projects using Navigate Pain</b>
        </p>
        <p class="content-first blue regular">
            <span class="green regular">2017: </span> Geospatial pain, sensory and symptom mapping (Aalborg University, Denmark</p>
        <p class="content-first blue regular">
            <span class="green regular">2017: </span> Menstrual Pain Project (University of Notre Dame, Australia; Curtin University, Perth, Australia)</p>
    </div>
    <div fxFlex="50%" fxLayout="column" fxLayoutAlign="center center">
        <p class="title-third green">
            <b>Scientific Publications</b>
        </p>
        <p class="content-second blue regular">
            SA Boudreau, AC Royo, M Mathews, T Graven-Nielsen, EN Kamavuako, G Slabaugh, K Thorborg, B Vicenzino, and MS Rathleff., Distinct
            patterns of variation in the distribution of knee pain. Sci Rep, 2018.
            <b class="underline">Pubmed</b> doi: 10.1038/s41598-018-34950-2 ​
            <br>
            <br> K Meier, ALH Knudsen, SA Boudreau, JC Hedemann Implanter’s Integrated Information (I3) System: An Aid for Spinal
            Cord Stimulation Procedures. Neuromodulation 2018.
            <b class="underline">Pubmed</b> doi: 10.1111/ner.12868
            <br>
            <br> TS Palsson, SA Boudreau, HJ Krebs, T Graven-Nielsen., Experimental referred pain extends towards previously
            injured location - An explorative study. J Pain. 2018
            <b class="underline">Pubmed</b> doi: 10.1016/j.jpain.2018.04.018
            <br>
            <br> V Doménech-García, T Palsson, SA Boudreau, P Herrero, T Graven-Nielsen., Pressure-induced referred pain areas
            are more expansive in individuals with a recovered fracture. Pain 2018
            <b class="underline">Pubmed</b> doi: 10.1097/j.pain.0000000000001234
            <br>
            <br> M Matthews, MS Rathleff, B Vicenzino, SA Boudreau., Capturing patient-reported area of knee pain: a concurrent
            validity study using digital technology in patients with patellofemoral pain, PeerJ, 2018
            <b class="underline">Pubmed</b> doi: 10.7717/peerj.4406
            <br>
            <br> Ørsnæs E, Arendt-Nielsen L, Boudreau SA
            <b>(2017) </b>A comparison of oral sensory effects of three TRPA1 agonists in young adult smokers and non-smokers.
            Frontiers in Physiology 8(663):1-11.
            <b class="underline">PubMed</b> doi: 10.3389/fphys.2017.00663
            <br>
            <br> Boudreau SA, Kamavuako EN, Rathleff RS
            <b>(2017) </b> Distribution and symmetrical patellofemoral pain patterns as revealed by high-resolution 3D body
            mapping: a cross-sectional study. BMC Musculoskeletal Disorders 8(160).
            <b class="underline"> PubMed</b> doi: 10.1186/s12891-017-1521-5
            <br>
            <br> Andersen HH, Sørensen AR, Nielsen GR, Mølgaard MS, Stilling P, Boudreau SA, Elberling J & Arendt-Nielsen L
            <b>(2017) </b> A test-retest reliability study of human experimental models of histaminergic and non-histaminergic
            itch. Acta Dermato-venereologica 97(2):198-207.
            <b class="underline">PubMed</b> doi: 10.2340/00015555-2502
            <br>
            <br> Egsgaard LL, Christensen TS, Petersen IM, Brønnum DS, Boudreau SA
            <b>(2016) </b> Do Gender-Specific and High-Resolution Three Dimensional Body Charts Facilitate the Communication
            of Pain for Women? A Quantitative and Qualitative Study. JMIR Human Factors 3(2).
            <b class="underline">PubMed</b> doi: 10.2196/humanfactors.5693
            <br>
            <br> ensen TK, Andersen MV, Nielsen KA2, Arendt-Nielsen L., Boudreau SA
            <b>(2016) </b> Interaction between Intraoral Cinnamaldehyde and Nicotine assessed by Psychophysical and Physiological
            Responses. European J. Oral Sci. 124(4):349-57.
            <b class="underline">PubMed</b> doi: 10.1111/eos.12279
            <br>
            <br> Arendt-Nielsen T, Wang K, Nielsen BP, Arendt-Nielsen LA, Boudreau SA
            <b>(2016) </b> Psychophysical and Vasomotor Responses of the Oral Tissues: A Nicotine Dose-Response and Menthol
            Interaction Study" J. Nicotine Tob Research, 18(5):596-603.
            <b class="underline">PubMed</b>

            doi: 10.1093/ntr/ntv163
            <br>
            <br> Boudreau SA, Badsberg S, Christensen SW, and Egsgaard LL.
            <b>(2016) </b> Digital Pain Drawings: Assessing touch-screen technology and 3D body schemas. Clinical J.Pain 32(2):139-45.
            <b class="underline">PubMed</b> doi:
            <span class="underline regular">10.1097/AJP.0000000000000230</span>
            <br>
            <br> Boudreau SA, Spence R, Vasov G, Egsgaard LL.
            <b>(2014)</b>. Feature Extraction APP for pain profiles. Replace, Repair, Restore, Relieve – Bridging Clinical and
            Engineering Solutions in Neurorehabilitation. Biosystems & Biorobotics. Springer, Cham Vol 7, pp 853-854.
            <span class="underline regular">10.1007/978-3-319-08072-7_116</span>
            <b class="underline"> PubMed</b>
            <br>
            <br>
        </p>
    </div>
    <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center">
        <p class="title-fourth blue">
            <b>SEE MORE TO KNOW MORE</b>
        </p>
        <button class="navigate">
            <b>Navigate Pain Blog</b>
        </button>
    </div>
</div>

<div class="logos-back" fxLayout="row" fxFlexFill fxLayoutAlign="center start">
    <div fxLayoutAlign="space-around start" class="logos">
        <a href="https://www.facebook.com/aglancesolutions/" target="_blank">
            <img src="../../assets/images/facebook.png" alt="">
        </a>
        <a href="https://twitter.com/AglanceSolution" target="_blank">
            <img src="../../assets/images/twitter.png" alt="">
        </a>
        <a href="https://www.linkedin.com/company/aglance-solutions" target="_blank">
            <img src="../../assets/images/linkdin.png" alt="">
        </a>
    </div>
</div>