/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

@font-face {
    font-family: raleway;
    src: url(assets/fonts/Raleway-Thin.ttf)
}

@font-face {
    font-family: ralewayBold;
    src: url(assets/fonts/Raleway-SemiBold.ttf)
}

@font-face {
    font-family: ralewayRegular;
    src: url(assets/fonts/Raleway-Regular.ttf)
}