/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
}

@font-face {
    font-family: raleway;
    src: url(assets/fonts/Raleway-Thin.ttf)
}

@font-face {
    font-family: ralewayBold;
    src: url(assets/fonts/Raleway-SemiBold.ttf)
}

@font-face {
    font-family: ralewayRegular;
    src: url(assets/fonts/Raleway-Regular.ttf)
}

.button {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    min-width: 130px;
    font-size: 16px;
    color: white;
    transition: 0.4s;
}

.button:hover {
    background: #3FE2E0;
}