@font-face {
    font-family: raleway;
    src: url(../../assets/fonts/Raleway-Thin.ttf)
}

@font-face {
    font-family: ralewayBold;
    src: url(../../assets/fonts/Raleway-SemiBold.ttf)
}

@font-face {
    font-family: ralewayBoldExtra;
    src: url(../../assets/fonts/Raleway-Bold.ttf)
}

@font-face {
    font-family: ralewayRegular;
    src: url(../../assets/fonts/Raleway-Regular.ttf)
}

.regular {
    font-family: ralewayRegular !important;
}

p,
span {
    font-family: raleway, sans-serif;
}

b,
.bold {
    font-family: ralewayBoldExtra !important;
}

.semi-bold {
    font-family: ralewayBold !important;
}

// menu-burger
.menu-media-burger {
    display: none;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    top: 9px;
    left: 9px;
    width: 50px;
    height: 50px;
}

#menu__toggle {
    opacity: 0;
}

.menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 26px;
    margin: auto;
    cursor: pointer;
    z-index: 1;
}

.menu__btn>span,
.menu__btn>span::before,
.menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
}

.menu__btn>span::before {
    content: '';
    top: -8px;
}

.menu__btn>span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #fffffff2;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
}

// .hide {
//     display: none;
// }

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: raleway, sans-serif;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid white;
    width: 70%;
    margin: auto;
}

.hide {
    border: none;
}

.focus-a {
    color: rgba(179, 242, 255, 1);
}

.menu__item:hover {
    background-color: #CFD8DC;
}

#menu__toggle:checked~.menu__btn>span {
    transform: rotate(45deg);
}

#menu__toggle:checked~.menu__btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu__toggle:checked~.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked~.menu__box {
    visibility: visible;
    left: 0;
}

//   ---------------

.header {
    background: #012240;
    height: 52px !important;
    min-height: 70px !important;
    position: fixed !important;
}

.header-height {
    height: 52px !important;
}

.menu {
    border-top: 2px solid rgba(179, 242, 255, 1);
    margin-left: 7%;
}

.menu a {
    text-decoration: none;
    color: white;
    line-height: 52px !important;
    text-align: center;
    border-top: none;
}

.span-app:hover {
    .drop-down {
        display: block !important;
    }
}

.drop-down:hover {
    p {
        display: block !important;
    }
}

.menu a:hover {
    color: #0BB6B2;
    border-top: 3px solid rgba(179, 242, 255, 1);
    line-height: 48px;
}

.focus {
    color: #0BB6B2 !important;
    border-top: 3px solid rgba(179, 242, 255, 1) !important;
    line-height: 48px !important;
}

.paralax {
    background-image: url(../../assets/images/backimage.webp);
    background-attachment: fixed;
    background-position: right;
    background-size: auto;
    background-repeat: no-repeat;
    width: 50%;
    height: 681px;
}

.title {
    font-size: 48px;
    line-height: 3rem;
    text-align: center;
    color: #0BB6B2;
    margin-top: 25%;
}

hr {
    width: 15%;
    border-bottom: 5px solid #0BB6B2;
}

.about p {
    font-size: 24px;
    color: #002E5D;
    text-align: center;
    margin-bottom: 1%;
    font-family: ralewayRegular !important;
}

.content {
    margin-left: 23%;
}

.second-block {
    background: #242323;
}

.academic {
    width: 500px;
    height: 422px;
    background-image: url(../../assets/images/academic.webp);
    background-position: center;
    background-size: cover;
}

.academic:hover {
    .academic-hover-back {
        background-color: #020a3a87 !important;
        height: 100%;
        transition: 0.3s;
    }

    .text-link {
        display: none !important;
    }

    .academic-hover {
        display: block !important;
    }
}

.health:hover {
    .health-hover-back {
        background-color: #020a3a87 !important;
        height: 100%;
        transition: 0.3s;
    }

    .text-link {
        display: none !important;
    }

    .health-hover {
        display: block !important;
    }
}

.enterprise:hover {
    .enterprise-hover-back {
        background-color: #020a3a87 !important;
        height: 100%;
        transition: 0.3s;
    }

    .text-link {
        display: none !important;
    }

    .enterprise-hover {
        display: block !important;
    }
}

.academic-hover,
.health-hover,
.enterprise-hover {
    width: 50%;
    color: white;
    text-align: center;
    display: none !important;
}

.academic-hover p {
    margin-top: 15%;
    margin-bottom: 15%;
}

.enterprise-hover p {
    margin-top: 15%;
    margin-bottom: 15%;
}

.health-hover p {
    margin-top: 15%;
    margin-bottom: 15%;
}

.academic-hover hr {
    border-bottom: 2px solid white;
}

.enterprise-hover hr {
    border-bottom: 2px solid white;
}

.health-hover hr {
    border-bottom: 2px solid white;
}

.second-block-media {
    display: none !important;
}

.btn-link {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    color: white;
    margin-top: 20%;
    margin-bottom: 20%;
}

.btn-link:hover {
    background: black;
}

.academic-hover button {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    color: white;
}

.enterprise-hover button {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    color: white;
}

.health-hover button {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    color: white;
}

.enterprise {
    width: 500px;
    height: 422px;
    background-image: url(../../assets/images/enterprise.webp);
    background-position: center;
    background-size: cover;
}

.health {
    width: 500px;
    height: 422px;
    background-image: url(../../assets/images/health.webp);
    background-position: center;
    background-size: cover;
}

.text-link a {
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.498039) -1px -1px 0px, rgba(0, 0, 0, 0.498039) -1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px 1px 0px, rgba(0, 0, 0, 0.498039) 1px -1px 0px;
    font-size: 28px;
    text-align: center;
    color: #FFFFFF;
    letter-spacing: 0.3em;
    font-weight: bold;
    text-transform: uppercase;
    font-family: ralewayBold !important;
}

.text-link svg {
    width: 50px;
    height: 25px;
    margin-top: 3%;
}

.first-image {
    width: 590px;
    height: 420px;
    background-image: url(../../assets/images/first.webp);
    background-size: auto;
    background-repeat: no-repeat;
}

.second-image {
    width: 590px;
    height: 420px;
    background-image: url(../../assets/images/second.webp);
    background-size: auto;
    background-repeat: no-repeat;
}

.first-back {
    background: #022f5a;
}

.mapping,
.track {
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-size: 26px;
    text-align: center;
}

.mapping-about,
.track-about {
    color: #FFFFFF;
    text-align: center;
}

.track,
.track-about {
    color: #002E57 !important;
}

.button {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 40px;
    width: 130px;
    font-size: 16px;
    color: white;
    margin: auto;
}

.font {
    height: 409px !important;
    min-height: 409px !important;
    background-image: url(../../assets/images/font.webp);
    background-size: auto;
    background-repeat: no-repeat;
    background-color: #14b6b2;
}

.font-1 {
    background-color: #14b6b29e;
    padding-bottom: 2%;
}

.font-2 {
    margin-top: 2%;
}

.font-2 p {
    font-size: 18px;
    margin-top: 3%;
    color: white;
    text-align: center;
}

.font-2 .font-title {
    font-size: 60px;
    line-height: 0.3rem;
}

.font-2 hr {
    width: 10%;
    border-bottom: 5px solid white;
    margin-bottom: 5%;
}

.people {
    background: #012240;
    padding-top: 5%;
    padding-bottom: 5%;
}

.people img {
    border-radius: 50%;
    height: 200px;
}

.blue {
    font-size: 26px;
    color: #0BB6B2;
    text-align: center;
    font-weight: bold;
    font-family: ralewayBold !important;
}

.blue-small {
    color: #0BB6B2;
    text-align: center;
    font-size: 15px;
    width: 80%;
}

.white {
    color: white;
    text-align: center;
    font-size: 15px;
    width: 73%;
}

.email {
    background: #002E57;
    padding-top: 3%;
    padding-bottom: 1%;
}

.email-about {
    letter-spacing: 0.08em;
    font-size: 22px;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.2em;
    font-weight: bold;
    margin-bottom: 8%;
    // font-family: ralewayBold !important;
}

.title-email {
    color: #FFFFFF;
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 46px;
    line-height: 0.3rem;
    font-family: ralewayBold !important;
}

.email hr {
    width: 10%;
    border-bottom: 5px solid white;
}

.email input {
    padding-left: 24px;
    width: 87%;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    margin-bottom: 3%;
    font-style: italic;
}

.email input::placeholder {
    color: #02305b;
}

.email textarea::placeholder {
    color: #02305b;
}

.email input:hover {
    width: 89%;
    height: 57px;
    margin-bottom: 1%;
}

.email textarea {
    padding-left: 24px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    margin-bottom: 3%;
    font-style: italic;
}

.email textarea:hover {
    width: 95%;
    margin-bottom: 2%;
}

.block-bigger {
    width: 80% !important;
    flex-wrap: wrap;
}

.block-bigger div {
    width: 50%;
}

.block-textaerea {
    padding-top: 15px;
    width: 94%;
    height: 115px;
}

.button-submit {
    background: #0BB6B2;
    border-radius: 20px;
    border: none;
    height: 50px;
    width: 145px;
    font-size: 18px;
    color: white;
    margin-bottom: 10%;
}

.logos-back {
    background: #012240;
}

.logos {
    margin-top: 1%;
    margin-bottom: 7%;
    width: 150px;
}

.logos img {
    width: 42px;
    height: 42px;
}

.drop-down {
    display: none !important;
    background: #ffffff6e;
    padding-top: 3px;
    position: absolute;
    top: 50px;
    width: 9%;
}

.drop-down p {
    line-height: 2rem;
    border-top: 1px solid rgba(179, 242, 255, 1);
    color: white;
    text-decoration: none;
}

.drop-down p:hover {
    border-top: 3px solid rgba(179, 242, 255, 1);
    line-height: 1.8rem;
    color: white;
}

@media(max-width:1640px) {
    .media-block {
        max-width: 27% !important;
        margin-right: 5%;
        margin-left: 5%;
    }

    .media-block-people {
        max-width: 60% !important;
    }

    .email textarea {
        height: 140px;
    }
}

@media(max-width:1440px) {
    .email input {
        padding-left: 15px;
    }

    .paralax {
        background-size: contain;
    }

    .header-height {
        max-width: 70% !important;
    }

    .content {
        margin-left: 10%;
        max-width: 35% !important;
    }

    .first-image,
    .second-image {
        background-size: contain;
        background-position: center;
    }

    .media-block {
        max-width: 40% !important;
        margin-right: 2%;
        margin-left: 2%;
    }

    .media-block-people {
        max-width: 70% !important;
    }

    .block-bigger div {
        width: 50%;
    }

    .font-1 {
        padding-top: 5%;
    }

    .font-2 {
        padding-bottom: 3%;
    }

    .logos {
        width: 30%;
    }
}

@media(max-width:1025px) {
    .menu {
        display: none !important;
    }

    .menu-media-burger {
        display: block !important;
    }

    .logo {
        margin: auto;
    }

    .header-height {
        max-width: 90% !important;
    }

    .content {
        margin-left: 0%;
        max-width: 45% !important;
    }

    .logos {
        width: 20%;
    }

    .media-block-email {
        max-width: 90% !important;
    }

    .media-block-people {
        max-width: 93% !important;
    }

    .second-block {
        display: none !important;
    }

    .media-blocks-reverse {
        flex-flow: column-reverse !important;
    }

    .flex-wrap {
        flex-wrap: wrap;
    }

    .first-back {
        padding-top: 15%;
        padding-bottom: 3%;
        flex-wrap: wrap;
        max-width: 100% !important;
    }

    .second-back {
        flex-wrap: wrap-reverse;
        padding-bottom: 3%;
        max-width: 100% !important;
    }

    .our-firm {
        flex-wrap: wrap;
    }

    .our-firm div {
        max-width: 80% !important;
    }

    .paralax {
        background-attachment: local;
    }

    .second-block-media {
        padding-top: 4%;
        background: #242323;
        display: flex !important;
        flex-wrap: wrap;
    }

    .second-block-media div {
        width: 52%;
    }

    .health,
    .enterprise,
    .academic {
        margin-bottom: 3%;
    }

    .academic-hover,
    .health-hover,
    .enterprise-hover {
        display: block !important;
    }

    .enterprise-hover-back,
    .health-hover-back,
    .academic-hover-back {
        background-color: #020a3a87 !important;
        height: 100%;
        width: 100% !important;
        font-size: 20px;
    }

    .block-textaerea {
        width: 92%;
    }

    .font-2 .font-title {
        font-size: 33px;
        line-height: 3rem;
    }


}

@media(max-width: 768px) {
    .media-block-people {
        flex-wrap: wrap;
    }

    .media-block-people div {
        width: 95%;
    }

    .btn-media {
        font-size: 20px;
        height: 45px !important;
        width: 150px !important;
    }

    .second-block-media div {
        width: 67%;
    }

    .title {
        font-size: 40px;
    }

    .about {
        font-size: 23px;
    }

    .media-block {
        max-width: 40% !important;
    }

    .mapping,
    .track {
        font-size: 21px;
    }

    .media-block-email {
        max-width: 80% !important;
    }

    .font-1 {
        padding-top: 5%;
    }

    .block-bigger {
        flex-wrap: wrap;
    }

    .block-bigger div {
        width: 100%
    }

    .logos {
        width: 30%;
    }

    .block-textaerea {
        width: 88%;
    }
}

@media(max-width: 425px) {
    .paralax {
        width: 100%;
        height: 300px;
    }

    .logo {
        max-width: 70% !important;
        margin: auto;
    }

    .our-firm div {
        max-width: 95% !important;
    }

    .second-block-media div {
        width: 95%;
        height: 50%;

    }

    .first-image {
        height: 340px;
    }

    .media-block {
        max-width: 55% !important;
        margin-top: -50px;
    }

    .media-block-people {
        max-width: 100% !important;
    }

    .block-textaerea {
        width: 87%;
        height: 125px !important;
    }

    .media-block-email {
        max-width: 100% !important;
    }

    .email input {
        height: 45px;
        font-size: 15px;
    }

    .font-2 .font-title {
        font-size: 24px !important;
        padding-top: 7%;
        line-height: 3rem;
    }

    .font-2 {
        max-width: 90% !important;
        margin-bottom: 5%;
    }

    .title-email {
        font-size: 25px;
    }

    .enterprise-hover-back,
    .health-hover-back,
    .academic-hover-back {
        font-size: 17px;
        padding-bottom: 2%;
    }

    .logos {
        width: 70%;
    }
}